name: Deploy to Docker

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/test-docker:latest

      - name: Deploy to Docker
        uses: appleboy/ssh-action@v0.1.2
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_PRIVATE_KEY }}
          passphrase: ${{ secrets.DEPLOY_PASSPHRASE }}
          known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
          script: |
            CURRENT_BRANCH="${{ github.ref }}"
            CURRENT_BRANCH=${CURRENT_BRANCH#refs/heads/}

            if [ -d "test-docker" ]; then
              cd "test-docker"
              git checkout $CURRENT_BRANCH
              git pull
            else
              git clone https://github.com/jspawar80/"test-docker".git
              cd "test-docker"
              git checkout $CURRENT_BRANCH
            fi
            docker-compose down
            docker-compose pull
            docker-compose up -d
